              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#阅读摘要">
                      阅读摘要
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#Linux">
                      Linux
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#嵌入式">
                      嵌入式
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#Android">
                      Android
                    </a>
                  </li>
				  <li>
                    <a href="/categories.html#软件工具">
                      软件工具
                    </a>
                  </li>
				  <li>
                    <a href="/categories.html#博文">
                      博文
                    </a>
                  </li>
                </ul>
              </div>

              <div class="col-lg-6">
                <ul class="list-unstyled">
				  <li>
                    <a href="/categories.html#CC++">
                      CC++
                    </a>
                  </li>  
                  <li>
                    <a href="/categories.html#Java">
                      Java
                    </a>
                  </li>  
				  <li>
                    <a href="/categories.html#Qt">
                      Qt
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#Windows">
                      Windows
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#网络">
                      网络
                    </a>
                  </li>
				  <li>
                    <a href="/categories.html#软件工程">
                      软件工程
                    </a>
                  </li>
                </ul>
              </div>

