            <ul class="list-unstyled">
              <li>
                <a href="https://github.com/">
                  GitHub
                </a>
              </li>
              <li>
                <a href="https://git-scm.com/book/zh/v2">
                  Git Book
                </a>
              </li> 
               <li>
                <a href="https://news.ycombinator.com/">
                  Hacker News
                </a>
              </li>        
              <li>
                <a href="http://www.stackoverflow.com/">
                  Stack Overflow
                </a>
              </li>
			  <li>
                <a href="http://coolshell.cn/">
                  陈皓
                </a>
              </li>
			  <li>
                <a href="https://github.com/haoel/leetcode">
                  陈皓_LeetCode
                </a>
              </li>
			  <li>
                <a href="https://program-think.blogspot.com/">
                  编程随想
                </a>
              </li>
			  <li>
                <a href="http://www.ruanyifeng.com/blog/archives.html">
                  阮一峰
                </a>
              </li>
			  <li>
                <a href="http://blog.csdn.net/v_july_v">
                  结构之法 算法之道
                </a>
              </li>
			  <li>
                <a href="http://blog.csdn.net/21aspnet/article/category/851646/2">
                  计算机科学与技术
                </a>
              </li>
			  <li>
                <a href="http://www.nowamagic.net/">
                  简明现代魔法
                </a>
              </li>
            </ul>
